<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>トイレの空き状況</h1>
    <p style="color:brown; font-weight: bold">トイレの空き状況の更新は［再読み込み］をクリック！</p>
    <table border="1"><tr><th>部屋番号</th><th>空き状況</th></tr>
    <tr><td>1F-1</td><td><span class="value"><%-room1 %></span></td></tr>
    <tr><td>1F-2</td><td><span class="value"><%-room2 %></span></td></tr>
    </table>
</body>
</html>